<html>
    <head>
        <title>to Chin Yu Hwei</title>
    </head>
    <body>
        <div>
            <h1><a href="">Chin Yu Hwei Blog</a></h1>
        </div>

        <div>
            <p>published: 18.04.2018, 11:00</p>
            <h2><a href="">Chin Yu Hwei first post</a></h2>
            <p>가지마, 씨발년아</p>
        </div>

        <div>
            <p>published: 18.04.2018, 11:00</p>
            <h2><a href="">Chin Yu Hwei second post</a></h2>
            <p>오지마, 씨발새꺄</p>
        </div>
    </body>
</html>
